{# Silly Gallery / A Silly Parade in Pieces - Shortcode Otput #}
<div class="pieces__piece" data-name="Chris+1">
    <img
            class="pieces__piece__image pieces__piece__image--desktop"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-pieces--chris.png") }}"
            alt="A Silly Parade – Chris+1 in a pastel-tinted posterized version of the picture"
    />
    <img
            class="pieces__piece__image pieces__piece__image--square"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-faces--chris.png") }}"
            alt="A Silly Parade – Chris+1 in a pastel-tinted posterized version of the picture"
    />
    <div class="actionshot actionshot--chris"></div>
</div>
<div class="pieces__piece" data-name="Der Bürgermeister">
    <img
            class="pieces__piece__image pieces__piece__image--desktop"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-pieces--markus.png") }}"
            alt="A Silly Parade – Der Bürgermeister in a pastel-tinted posterized version of the picture"
    />
    <img
            class="pieces__piece__image pieces__piece__image--square"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-faces--markus.png") }}"
            alt="A Silly Parade – Der Bürgermeister in a pastel-tinted posterized version of the picture"
    />
    <div class="actionshot actionshot--markus"></div>
</div>
<div class="pieces__piece" data-name="Anti Andi">
    <img
            class="pieces__piece__image pieces__piece__image--desktop"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-pieces--andi.png") }}"
            alt="A Silly Parade – Anti Andi in a pastel-tinted posterized version of the picture"
    />
    <img
            class="pieces__piece__image pieces__piece__image--square"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-faces--andi.png") }}"
            alt="A Silly Parade – Anti Andi in a pastel-tinted posterized version of the picture"
    />
    <div class="actionshot actionshot--andi"></div>
</div>
<div class="pieces__piece" data-name="Lukas Maros der LeoNERD">
    <img
            class="pieces__piece__image pieces__piece__image--desktop"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-pieces--leonard.png") }}"
            alt="A Silly Parade – Lukas Maros der LeoNERD in a pastel-tinted posterized version of the picture"
    />
    <img
            class="pieces__piece__image pieces__piece__image--square"
            src="{{ get_theme_file_uri("/img/a-silly-parade/a-silly-parade-in-faces--leonard.png") }}"
            alt="A Silly Parade – Lukas Maros der LeoNERD in a pastel-tinted posterized version of the picture"
    />
    <div class="actionshot actionshot--leonard"></div>
</div>


